@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Blaka&family=Fragment+Mono:ital@0;1&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url(image/background.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* Estilo Scrollbar */

body::-webkit-scrollbar {
  width: 13px;
}

body::-webkit-scrollbar-track {
  background: rgb(255, 255, 255);
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(179, 179, 179);
  border-radius: 20px;
  border: 3px solid rgb(255, 255, 255);
}




/*TITULO*/

.tittle__initial h1{
  max-width: 630px;
  padding: auto;
  margin: auto;
  text-align: center;
  margin-top: 100px;
  font-size: 55px;
  color: #fff;
  background: #131313;
  padding: 18px;
  border-radius: 12px;
  border: 3px solid #fff;
}


.title span {
    --total: calc(var(--duration)
     + var(--delay));
     position: relative;
     display: block;
     color: transparent;
     overflow: hidden;
     animation: revealText 0.5s
     var(--total) forwards;
     font-size: 73px;
     font-family: 'Blaka', cursive;
     padding-top: 20px;
     padding-left: 70px;
}

.title span::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scaleX(0);
    transform-origin: left;
    background: #AF0404;
    animation: 
    rollIn var(--duration)
    var(--delay) forwards,
    rollOut var(--duration)
    var(--total) forwards;
}

.title span:nth-child(2)::after {
    border-top: 3px solid #AF0404;
}


@keyframes revealText {
    to {
        color: #fff;
    }
}

@keyframes rollIn {
    from {
        transform: scaleX(0);
    }

    to {
        transform: scaleX(1);
    }
}

@keyframes rollOut {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(105%);
    }
}


/*NAVEGAÇÃO*/

.button_container {
  position: fixed;
  top: 5%;
  right: 2%;
  height: 27px;
  width: 35px;
  cursor: pointer;
  z-index: 100;
  transition: opacity 0.25s ease;
}

.button_container:hover {
  opacity: 0.7;
}

.button_container.active .top {
  transform: translateY(11px) translateX(0) rotate(45deg);
  background: #FFF;
}

.button_container.active .middle {
  opacity: 0;
  background: #FFF;
}

.button_container.active .bottom {
  transform: translateY(-11px) translateX(0) rotate(-45deg);
  background: #FFF;
}

.button_container span {
  background: #ffffff;
  border: none;
  height: 5px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.35s ease;
  cursor: pointer;
}

.button_container span:nth-of-type(2) {
  top: 11px;
}

.button_container span:nth-of-type(3) {
  top: 22px;
}

.overlay {
  position: fixed;
  background: #AF0404;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.35s, visibility 0.35s, height 0.35s;
  overflow: hidden;
  z-index: 1;
}

.overlay.open {
  opacity: 0.9;
  visibility: visible;
  height: 100%;
}

.overlay.open li {
  animation: fadeInRight 0.5s ease forwards;
  animation-delay: 0.35s;
}

.overlay.open li:nth-of-type(2) {
  animation-delay: 0.4s;
}

.overlay.open li:nth-of-type(3) {
  animation-delay: 0.45s;
}

.overlay.open li:nth-of-type(4) {
  animation-delay: 0.5s;
}

.overlay nav {
  position: relative;
  height: 70%;
  top: 65%;
  transform: translateY(-50%);
  font-size: 35px;
  font-weight: 400;
  text-align: center;
}

.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100%;
}

.overlay ul li {
  display: block;
  height: 20%;
  height: calc(100% / 5);
  min-height: 40px;
  position: relative;
  opacity: 0;
}

.overlay ul li a {
  display: block;
  position: relative;
  color: #FFF;
  text-decoration: none;
  overflow: hidden;
}

.overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
  width: 100%;
}

.overlay ul li a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  transform: translateX(-50%);
  height: 3px;
  background: #FFF;
  transition: 0.35s;
}


/*TRABALHOS-PAG-INICIAL*/

.container {
  position: relative;
  max-width: 1160px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  transform-style: preserve-3d;
  perspective: 500px;
  margin: auto;
}
.container .box {
  position: relative;
  width: 275px;
  height: 275px;
  background: #000;
  transition: 0.5s;
  transform-style: preserve-3d;
  overflow: hidden;
  margin-right: 15px;
  margin-top: 45px;
}
.container:hover .box {
  transform: rotateY(25deg);
}
.container .box:hover ~ .box {
  transform: rotateY(-25deg);
}
.container .box:hover {
  transform: rotateY(0deg) scale(1.25);
  z-index: 1;
  box-shadow: 0 25px 40px rgba(0,0,0,0.5);
}
.container .box .imgBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.container .box .imgBx:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg,#f00,#000);
  z-index: 1;
  opacity: 0;
  transition: 0.5s;
  mix-blend-mode: multiply;
}
.container .box:hover .imgBx:before {
  opacity: 1;
}
.container .box .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container .box .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  padding: 20px;
  align-items: flex-end;
  box-sizing: border-box;
}
.container .box .content h2 {
  color: #fff;
  transition: 0.5s;
  text-transform: uppercase;
  margin-bottom: 5px;
  font-size: 20px;
  transform: translateY(200px);
  transition-delay: 0.3s;
}
.container .box:hover .content h2 {
  transform: translateY(0px);
}
.container .box .content p {
  color: #fff;
  transition: 0.5s;
  font-size: 14px;
  transform: translateY(200px);
  transition-delay: 0.4s;
}
.container .box:hover .content p {
  transform: translateY(0px);
}

/*SOBRE*/

.about {
  color: #fff;
  background: #131313;
  max-width: 1200px;
  max-height: auto;
  padding: auto;
  text-align: center;
  margin: auto;
  margin-top: 190px;
  border-radius: 12px;
  border: 3px solid #fff;
}

.about h1 {
  padding: 20px;
  font-size: 55px;
}

.about p {
  padding: 10px;
  text-align: center;
}

/*JOAO IMG*/

.img_joao {
  padding-left: 20px;
  position: absolute;
  opacity: 20%;
}

